
    <ul class="modify">
        <li class="edit">
            <a href="{{ url_for('admin.edit', url=entries[0].url) }}">
                <span class="h6">Edit</span>
            </a>
        </li>
        <li class="delete">
            <form id="delete" method="post" action="{{ url_for('admin.delete', id=entries[0].id) }}">
                <input type="hidden" name="name" value="value" />
                <a onclick="document.getElementById('delete').submit(); return false;">
                    <span class="h6">Delete</span>
                </a>
            </form>
        </li>
    </ul>

<div style="clear:both;"></div>