{% extends "blog.html" %}
{% block page_content %}
<hr />
<form method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
    {{ form.title(placeholder='Title', class='publishdate entry-title form-control') }}</div>
    <div class="form-group">
    {{ form.body(placeholder="Paste content here", class='publishdate entry-body form-control') }}
    </div>
    <hr />
    {{ form.submit() }}
</form>
{{ super() }}
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}