{% extends "base.html" %}
{% block title %}Existential Vision | Blog{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet"
    href="{{ url_for('static', filename='styles/annotator.min.css') }}" />
<link rel="stylesheet"
    href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<div class="blog-wrapper">
    {% block entry_column %}
    <div class="entry-column-wrapper">
        <div class="entry-column" id="content">
            {% block content %}
            <div class="section" id="main">
                {% block page_content %}
                <ul class="entries">{% include '_entries.html' %}</ul>
                {% endblock page_content %}
            </div>
            {% endblock content %}
        </div>
    </div>
    {% endblock entry_column %}
    {% block sidebar %}
    <div class="sidebar-column">
        <section class="section" id="sidebar-top">
            <h4 id="name">
                <a href="/">An existentialist's take on startups and growth.</a>
            </h4>
            <p class="credits">Written by <span class="h6">Davis Clark</span></p>
            <a href="//www.linkedin.com/in/davissclark" target="_blank">
                <img src="{{ grav }}" class="img-thumbnail" id="grav"/>
            </a>
            <ul class="list-unstyled contact-list">
                <li class="option">
                    <a href="tel:+19524122874">Sweet Samantha, how you torture me so! Given the shot, at a long talk and walk, I will literally charm off your shoes and your socks.</a>
                    <br/>
                    <p>^ *click* ^</p>
                    <br/>
                </li>
                <li class="option">
                    Email:<a href="mailto:davissclark@gmail.com"> davissclark@gmail.com</a>
                </li>
                <li class="option">
                    <p>GitHub:<a href="https://github.com/davissclark"> @davissclark</a></p>
                </li>
            </ul>
        </section>
        <section class="section" id="admin-panel">
            <ul class="nav list-unstyled">
                <li id="topics">
                    <button class="topic-control">Topics</button>
                    <ul class="list-unstyled topic-panel">
                    {% if topics %}
                        {% for topic in topics %}
                        <li class="option">
                            <a href="{{ url_for('main.topic', tag=topic.url or topic.name) }}">{{ topic.name }}</a>
                            {% if current_user.is_authenticated() %}
                            <a href="{{ url_for('admin.deleteTopic', tag=topic.name) }}">x</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    {% else %}
                        <li>---</li>
                    {% endif %}
                    </ul>
                </li>
                <a href="/metrics"><li>
                    <button class="metrics-control">Metrics</button>
                </li></a>
            </ul>
            {% if current_user.is_authenticated() %}
            <ul id="filter">{% include '_panel.html' %}</ul>
            {% endif %}
        </section>
    </div>
    {% endblock sidebar %}
    <!--<a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px;display:block;margin-left:20px;margin-bottom:35px;" src="//heapanalytics.com/img/badge.png" alt="Heap - iOS and Web Analytics" /></a-->
</div>
<div class="clearfix"></div>
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/showdown.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/blog.js') }}"></script>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'existentialvisionblog'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<script type="text/javascript">
$(document).ready(function(){
//Add a pageview event in Keen IO
    var fullUrl = window.location.href;
    var parsedUrl = $.url(fullUrl);
    var parser = new UAParser();

    var eventProperties = {
        session_id: $.cookie("session_cookie")["id"],
        url: {
            source: parsedUrl.attr("source"),
            protocol: parsedUrl.attr("protocol"),
            domain: parsedUrl.attr("host"),
            port: parsedUrl.attr("port"),
            path: parsedUrl.attr("path"),
            anchor: parsedUrl.attr("anchor")
        },
        user_agent: {
            browser: parser.getBrowser(),
            engine: parser.getEngine(),
            os: parser.getOS()
        },
        permanent_tracker: $.cookie("permanent_cookie")["id"]
    };

    /*
    //If you know that the user is currently logged in, add information about the user.
    eventProperties["user"] = {
    id: "",
    signupDate: ""
    etc: ".."
    };
    */

    //Add information about the referrer of the same format as the current page
    var referrer = document.referrer;
    referrerObject = null;

    if(referrer != undefined){
        parsedReferrer = $.url(referrer);

        referrerObject = {
            source: parsedReferrer.attr("source"),
            protocol: parsedReferrer.attr("protocol"),
            domain: parsedReferrer.attr("host"),
            port: parsedReferrer.attr("port"),
            path: parsedReferrer.attr("path"),
            anchor: parsedReferrer.attr("anchor")
        }
    }

    eventProperties["referrer"] = referrerObject;
    client.addEvent("pageviews", eventProperties)
});
</script>
{% endblock %}
{% endblock %}
