@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);

html {
	height: 100%;
    min-height: 650px;
    color: #444;
	background-color: #fffdff;
	font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
	font-size: 100%;
	text-align: center;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
    html {
        min-height: 568px;
        min-width: 300px;
    }
}

html, .Label h2, #sidebar .rss a, .BlogArchive h2, .FollowByEmail h2.title, .post h2 {
    font-family: arial, sans-serif !important;
}

h1, h2, h3, .plusfollowers h2.title, .post .subject, .widget h2.title {
    font-family: 'Open Sans', arial, sans-serif !important;
}

body {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    margin: 0;
    padding: 0 0 1px;
}

html, h4, h5, h6 {
    font-size: 100%;
}

h1, h2, h3, h4, h5 {
    line-height: 1.5em;
    margin: 0;
}

h2 {
    font-size: 150%;
}

a {
    text-decoration: none;
}

a, a:link, a:visited {
    color: #444;
    text-decoration: none;
}

a:hover, #highlight {
    color: #FF9966;
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 0px;
}

header .header-title h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 1.5em;
    padding: 3px 0px;
    letter-spacing: 0.2em;
}

.tline header .header-title h2 {
    font-size: 200%;
}

#head-wrapper.tline {
    top: 5px;
}

header>img {
    position: absolute;
    height: 2px;
    width: 33%;
    left: 33%;
    right: 33%;
    bottom: 0px;
    z-index: 100000;
}

nav {
    letter-spacing: 0.04em;
    position: absolute;
    bottom: 25%;
    width: 100%;
    color: #444;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
    font-size: 150%;
}

nav.tline {
    font-size: 112.5%;
}

footer {
    font-size: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 5%;
    display: none;
}

#homepage {
    padding-top: 20%;
}

#head-wrapper {
    position: relative;
    clear: both;
    min-height: 0;
    background-color: rgba(253,252,254, .75);
}

#tagline {
    color: #444;
    letter-spacing: 0.05em;
    font-weight: 300;
    font-size: 112.5%;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5em;
}

.navigation {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#work {
	position: relative;
	margin: 0px auto;
}

/*  Timeline w/ D3.js  */

svg {
	position: relative;
}

#chart {
	width: 75%;
	margin: 0px auto;
}

.g_main {
	pointer-events: all;
}

.chart g rect {
	stroke: #ccc;
	fill: #FF9966;
	fill-opacity: 0.5;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#refLine {
	stroke: #000;
}

#keyContainer {
	width: 100px;
	height: 100%;
	margin: 0px;
}

#chartKey {
    color: #444;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
	text-align: left;
	font-size: 87.5%;
	line-height: 1.5em;
	position: absolute;
    top: 10px;
	white-space: nowrap;
}

.axis .domain, .axis .tick {
    stroke: #000;
    fill: #ccc;
}

.rule {
	position: relative;
	right: 10px;
	font-size: 100%;
	stroke: #000;
	fill: #000;
}

label {
    display: inline-block;
    width: 5em;
}

.formatting {
	font-size: 87.5%;
	text-align: left;
	position: relative;
}

#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: #fffdff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	z-index: 1000;
	display: none;
}

.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 20px;
}

