{% extends "blog.html" %}

{% block page_content %}
    <h3>Change Your Password</h3>
    <div>
        <form action="{{ url_for('auth.change_password') }}" method="POST">
                {{ form.csrf_token }}
                <div>{{ form.old_password.label }} {{ form.old_password() }}</div>
                <div>{{ form.password.label }} {{ form.password() }}</div>
                <div>{{ form.password2.label }} {{ form.password2() }}</div>
                <div>{{ form.submit() }}</div>
        </form>
    </div>
{% endblock %}