{% extends "base.html" %}
{% block title %}Silent Samantha{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet"
    href="{{ url_for('static', filename='styles/annotator.min.css') }}" />
<link rel="stylesheet"
    href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<div class="blog-wrapper">
    {% block entry_column %}
    <div class="entry-column-wrapper">
        <div class="entry-column" id="content">
            {% block content %}
            <div class="section" id="main">
                {% block page_content %}
                <script>
                    $(function(){  // $(document).ready shorthand
                         $('#testytest').hide().fadeIn(15000);
                    });
                </script>
<!--                 <ul class="entries">{% include '_entries.html' %}</ul> -->
                     <ul class="entries">
                         <li id = "testytest">
                             <p>To be honest, I've been having a lot of fun the last couple days. I just get sick of the same old thing, repetitive etiquette, and the highly unoriginal. Yet the fact remains that I don't actually know you - nor you me. I was excited to meet you, cause few people capture my attention like you did from text #1, and I was energized by your disarmingly sudden silence, cause few things excite me more than the creative challenge of upsetting imbalance. But then, last night, I realized that the irony in my vision for www.silentsamantha.com can only charm within a given realm of trust. The last thing I want is for my playful persistence to be misconstrued as something it's not.</p>
                             <br/>
                             <p>What I do want is to get to know you, and I think you'd have fun with me. That said, I could treat you like an investor and pitch you a value prop or try to hook you with stories of intrigue or provide a tactical break down of my amusing strategy for Silent Samantha to bend the wall of silence on itself, but I'll spare you the lame sell. Get in touch with me if you want to meet someone new.</p> 
                             <br/>
                         </li>
                </ul>
                {% endblock page_content %}
            </div>
            {% endblock content %}
        </div>
    </div>
    {% endblock entry_column %}
<!--    {% block sidebar %}
    <div class="sidebar-column">
        <section class="section" id="sidebar-top">
            <h4 id="name">
<a href="/">An existentialist's take on silence and soul.</a> 
            </h4>
           <p class="credits">Written by <span class="h6">Davis Clark</span></p>
            <a href="//www.linkedin.com/in/davissclark" target="_blank">
                <img src="{{ grav }}" class="img-thumbnail" id="grav"/>
            </a>            
            <ul class="list-unstyled contact-list">
            <li class = "option">
                <a href="tel:+19524122874">Silent, Sweet Samantha, how you torture me so! Given the shot, at a long talk and walk, I will literally charm off your shoes and your socks.</a>
                <br/>
                <p>^ *click* ^</p>
                <br/>
            </li> 

                 
<li>

                </li>
                <li class="option">
                    <a href="mailto:davissclark@gmail.com">Email: davissclark@gmail.com</a>
                </li>
                <li class="option">
                    <a href="https://linkedin.com/in/davissclark">LinkedIn: 500+</a>
                </li>
                <li class="option">
                    <a href="https://facebook.com/davissclark">Facebook: 967</a>
                </li>
                <li class="option">
                    <a href="https://instagram.com/davissclark">Instagram: 96</a>
                </li>
                <li class="option">
                    <a href="https://github.com/davissclark">GitHub: 2</a>
                </li>
            </ul>
        </section>
        <section class="section" id="admin-panel">
            <ul class="nav list-unstyled">
             <li id="topics">
                    <button class="topic-control">Topics</button>
                    <ul class="list-unstyled topic-panel">
                    {% if topics %}
                        {% for topic in topics %}
                        <li class="option">
                            <a href="{{ url_for('main.topic', tag=topic.url or topic.name) }}">{{ topic.name }}</a>
                            {% if current_user.is_authenticated() %}
                            <a href="{{ url_for('admin.deleteTopic', tag=topic.name) }}">x</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    {% else %}
                        <li>---</li>
                    {% endif %}
                    </ul>
                </li> 
                 <a href="/metrics"><li>
                    <button class="metrics-control">Metrics</button>
                </li></a> 
            </ul>
            {% if current_user.is_authenticated() %}
            <ul id="filter">{% include '_panel.html' %}</ul>
            {% endif %}
        </section>
    </div>
    {% endblock sidebar %}-->
    <!--<a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px;display:block;margin-left:20px;margin-bottom:35px;" src="//heapanalytics.com/img/badge.png" alt="Heap - iOS and Web Analytics" /></a-->
</div>
<div class="clearfix"></div>
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/showdown.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/blog.js') }}"></script>
{% endblock %}
{% endblock %}
